.top-nav-collapse {
    padding: 0;
}
.bg-default {
  background: #edecec;
}
.white { color: #fff; font-weight: 500;}

.carousel{
  background: #ffdb4c;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 90px;
}

.tooltip-inner {
  max-width: 300px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  background-color: #F05F40;
  border-radius: .25rem;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}
.tooltip.bottom .tooltip-arrow {
  border-right-color: red;
}

section#gallery,
aside#comments{
  background: #ffdb4c;
}

.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #f4f3f3; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #f05f40; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fff; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #f05f40;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


.fa-cupcake {
  content:url('#{asset_path('icons/cupcake.png')}');
  width: 54px;
  height: 56px;
}

.fa-cheesecake {
  content:url('#{asset_path('icons/cheesecake.png')}');
  width: 77px;
  height: 56px;
}

.baker-img {
  width: 200px;
  height: 200px;
  margin:0 auto;
}

.social-icon{
  padding-top: 8px;
  font-size: 16px;
  text-align: center;
  width: 36px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  margin: 10px;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus{
  text-decoration: none;
  color: #000;
  border-color: #000;
}


.follow-us-container{
  margin-top: 20px;
  margin-bottom: 20px;
}

.follow-us{
  font-size: 22px;
  color: #777;
}

aside#cakes{
  background-color: #F05F40;
}


.carousel-inner > .item > img{

}
.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
}
.carousel-control .icon-prev:before,
.carousel-control .icon-next:before {
  font-size: 60px;
}

footer {
  background: #222;
  a.social-icon:hover, a.social-icon:active, a.social-icon:focus{
    text-decoration: none;
    color: #F05F40;
    border-color: #F05F40;
  }
  .text-muted {
    color: #777777;
    font-size: 10px;
    letter-spacing: 1px;
  }
}
